In [2]:
import pandas as pd
import os

### Deposit data

In [5]:
df_deposit = pd.read_csv(r'../data/landing/deposit_sample_data.csv')
df_deposit.head()

,id,event_timestamp,user_id,amount,currency,tx_status
0,3521,2020-01-02 19:55:43.341+00,2dea61eed4bceec564a00115c4d21334,1000.0,bat,complete
1,3522,2020-01-02 19:55:43.477+00,2dea61eed4bceec564a00115c4d21334,1000.0,gnt,complete
2,3523,2020-01-02 19:55:43.516+00,2dea61eed4bceec564a00115c4d21334,1000.0,mana,complete
3,3524,2020-01-02 19:55:43.555+00,2dea61eed4bceec564a00115c4d21334,1000.0,ars,complete
4,3527,2020-01-06 17:07:49.794+00,7f1171a78ce0780a2142a6eb7bc4f3c8,100.0,ars,complete

In [6]:
df_deposit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618271 entries, 0 to 1618270
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   id               1618271 non-null  int64
 1   event_timestamp  1618271 non-null  object
 2   user_id          1618271 non-null  object
 3   amount           1618259 non-null  float64
 4   currency         1618271 non-null  object
 5   tx_status        1618271 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 74.1+ MB

In [10]:
df_deposit['amount'].isnull().sum()

np.int64(12)

### Event data

In [11]:
df_event = pd.read_csv(r'../data/landing/event_sample_data.csv')
df_event.head()

,id,event_timestamp,user_id,event_name
0,2058298,2020-01-02 18:40:33.568000,f442d33fa06832082290ad8544a8da27,login
1,2058299,2020-01-02 18:46:28.086000,f442d33fa06832082290ad8544a8da27,login
2,2058314,2020-01-02 23:30:54.959000,f442d33fa06832082290ad8544a8da27,login
3,2058326,2020-01-06 01:49:14.948000,ae0eb3eed39d2bcef4622b2499a05fe6,2falogin
4,2058378,2020-01-06 23:50:34.938000,06a15eb1c3836723b53e4abca8d9b879,login_api

In [12]:
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105744 entries, 0 to 105743
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               105744 non-null  int64
 1   event_timestamp  105744 non-null  object
 2   user_id          105744 non-null  object
 3   event_name       105744 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.2+ MB

### User data

In [13]:
df_user = pd.read_csv(r'../data/landing/user_id_sample_data.csv')
df_user.head()

                            user_id
0  5dd9db5e033da9c6fb5ba83c7a7ebea9
1  ae0eb3eed39d2bcef4622b2499a05fe6
2  e70611883d2760c8bbafb4acb29e3446
3  6d70cb65d15211726dcce4c0e971e21c
4  8ce6790cc6a94e65f17f908f462fae85

In [14]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25699 entries, 0 to 25698
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  25699 non-null  object
dtypes: object(1)
memory usage: 200.9+ KB

### Withdrawal data

In [16]:
df_withdrawal = pd.read_csv(r'../data/landing/withdrawals_sample_data.csv')
df_withdrawal.head()

,id,event_timestamp,user_id,amount,interface,currency,tx_status
0,1521,2020-01-10 14:11:05.63+00,c8fbbc86abe8bd6a5eb6a3b4d0411301,10.0,app,mxn,complete
1,1522,2020-01-10 18:26:02.853+00,c8fbbc86abe8bd6a5eb6a3b4d0411301,5.0,app,mxn,complete
2,1523,2020-01-10 18:26:45.66+00,c8fbbc86abe8bd6a5eb6a3b4d0411301,10.0,app,mxn,failed
3,1572,2020-01-17 19:51:50.49+00,2b45c629e577731c4df84fc34f936a89,5.0,web,mxn,complete
4,1588,2020-01-18 00:07:18.364+00,2b45c629e577731c4df84fc34f936a89,5.0,web,mxn,complete

In [17]:
df_withdrawal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5098 entries, 0 to 5097
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5098 non-null   int64
 1   event_timestamp  5098 non-null   object
 2   user_id          5098 non-null   object
 3   amount           5098 non-null   float64
 4   interface        5098 non-null   object
 5   currency         5098 non-null   object
 6   tx_status        5098 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 278.9+ KB